

{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}Cerrar sesion{% endblock %}

{% block content %}

<div class="cerrar-sesion">

  <h1>¿Estás segur@ que deseas cerrar sesion?</h1>
  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button class="btn btn-danger" type="submit">Salir</button>
  </form>

</div>


{% endblock %}
