{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}
  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-5 h2 text-center">Envío a </h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-8 mb-4">

          <!--Card-->
          <div class="card">
            <!--Card content-->
            <form id="form-check" method="POST"  class="card-body">

              {% csrf_token %}


              <div class="hideable_shipping_form">
                <h3>Direccion de envio</h3>
                  <div class="md-form mb-8">
                    <input type="text" placeholder="Av Benito Juarez #23" id="shipping_address" name="shipping_address" class="form-control" />
                    <label for="shipping_address" class="">Direccion</label>
                  </div>

                  <div class="md-form mb-5">
                       <input type="text" placeholder="Colonia Revolucion" id="suburb_shipping" name="suburb_shipping" class="form-control" />
                    <label for="suburb_shipping" class=""> Colonia </label>
                  </div>

                  <div class="md-form mb-3">
                    <input type="text" placeholder="3323232342" id="shipping_phone_number" name="shipping_phone_number" class="form-control" />
                    <label for="shipping_phone_number" class=""> Número teléfonico </label>
                  </div>

                  <div class="row">
                      <div class="col-lg-4 col-md-2 mb-3">
                        <label for="country">¿El envio es a Guadalajara?</label>
                        <div class="row justify-content-center">
                          <select style="width: 50%;" class="form-control" id="from_guadalajara" name="from_guadalajara">
                            <option disabled selected></option>
                            <option value="S">Si</option>
                            <option value="N">No</option>
                          </select>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 mb-4">
                      <label for="city" class=""> Ciudad/ Municipio </label>
                      <input type="text" placeholder="Ciudad/ Municipio" id="city" name="city" class="form-control" />
                    </div>

                    <div class="col-lg-4 col-md-4 mb-4 hideable_estado">
                      <label for="shipping_state" class=""> Estado </label>
                      <input type="text" placeholder="estado" id="shipping_state" name="shipping_state" class="form-control" />
                    </div>

                  </div>

                  <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-4 mb-4">
                      <label for="zip">Código postal</label>
                      <input type="text" placeholder="00000" id="shipping_zip" name="shipping_zip" class="form-control" />
                      <div class="invalid-feedback">
                        Zip code required.
                      </div>
                    </div>
                  </div>

                  <div class="row hideable_guadalajara">
                    <div class="col-lg-3 col-md-4 mb-4">
                      <label>Seleccione un tipo de envio</label>
                      <select id="inside_guadalajara" name="inside_guadalajara" class="form-control" >
                        <option selected disabled>Selecciona</option>
                        <option value="medio">Punto medio (Sin costo extra)</option>
                        <option value="domicilio">A domicilio (Costo de 80 pesos)</option>
                      </select>
                     </div>


                     <div class="point col-lg-3 col-md-4 mb-4">
                      <label>Seleccione un punto medio </label>
                      <select id="point" name="point" class="form-control">
                        <option selected disabled>Selecciona</option>
                        <option value="Aurrera Belisario, calzada y circunvalacion">Aurrera Belisario, calzada y circunvalacion</option>
                        <option value="Plaza patria">Plaza Patria</option>
                        <option value="Centro">Centro</option>
                        <option value="Parque rojo">Parque rojo</option>
                        <option value="">Aurrera Belisario, calzada y circunvalacion</option>
                        <option value="Terraza oblatos Soriana tránsito, Chapultepec">Terraza oblatos Soriana tránsito, Chapultepec</option>
                        <option value="Centro magno ">Centro magno </option>
                        <option value="Linea1">Linea1</option>
                        <option value="Linea2">Linea2</option>
                        <option value="Est. Auditorio">Est. Auditorio</option>
                        <option value="Est. Periférico nte">Est. Periférico nte</option>
                        <option value="Est. Dermatológico">Est. Dermatológico</option>
                        <option value="Est. Atemajac">Est. Atemajac</option>
                        <option value="Est. División nte">Est. División nte</option>
                        <option value="Est. Ávila Camacho">Est. Ávila Camacho</option>
                        <option value="Est. Mezquitán">Est. Mezquitán/option>
                        <option value="Est. Refugio">Est. Refugio</option>
                        <option value="Est. Juárez">Est. Juárez</option>
                        <option value="Est. Mexicaltzingo">Est. Mexicaltzingo</option>
                        <option value="Est. Washington">Est. Washington</option>
                        <option value="Est. Sta Filomena">Est. Sta Filomena</option>
                        <option value="Est. Unidad deportiva">Est. Unidad deportiva</option>
                        <option value="Est. Urdaneta">Est. Urdaneta</option>
                        <option value="Est. 18 de marzo">Est. 18 de marzo</option>
                        <option value="Est. Isla raza">Est. Isla raza</option>
                        <option value="Est. Patria">Est. Patria</option>
                        <option value="Est. España">Est. España</option>
                        <option value="Est. Santuario mártires">Est. Santuario mártires/option>
                        <option value="Est. Periférico sur">Est. Periférico sur</option>
                        <option value="Est. Plaza universidad">Est. Plaza universidad</option>
                        <option value="Est. San Juan de Dios">Est. San Juan de Dios</option>
                        <option value="Est. Belisario">Est. Belisario</option>
                        <option value="Est. Oblatos">Est. Oblatos</option>
                        <option value="Est. Cristóbal de Oñate">Est. Cristóbal de Oñate</option>
                        <option value="Est. San Andrés">Est. San Andrés</option>
                        <option value="Est. San Jacinto">Est. San Jacinto</option>
                        <option value="Est. San Juan de Dios">Est. Aurora</option>
                        <option value="Est. Tetlan">Est. Tetlan</option>
                      </select>
                  </div>

                  </div>

              

              </div>



  

              <hr>

              <h3>Opciones de pago</h3>

              <div class="d-block my-3">
                {% for value, name in form.fields.payment_option.choices %}
                  <div class="custom-control custom-radio">
                    <input id="{{name}}" name="payment_option" value="{{value}}" type="radio" />
                    <label for="{{name}}">{{name}}</label>
                  </div>
                {% endfor %}
              </div>
      
              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Continuar al pago</button>

            </form>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">
          {% include "order_snippet.html" %}
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>

  </main>
  <!--Main layout-->

  {% endblock %}

  {% block extra_scripts %}
  <script>
    var hideable_shipping_form = $('.hideable_shipping_form');
    var hideable_guadalajara = $('.hideable_guadalajara');
    var hideable_estado = $('.hideable_estado');
    var medio =  $('.point');
    
    var use_default_shipping = document.querySelector("input[name=use_default_shipping]");
    var from_guadalajara = document.querySelector("select[name=from_guadalajara]")
    var inside_guadalajara = document.querySelector("select[name=inside_guadalajara]")
    



    var shipping_state = document.querySelector("input[name=shipping_state]");

    var precioFinal = document.getElementById('precio-final');
    var precio = document.getElementById('precio');

    let sacarPrecio = (envio) => {
      var precioEnNumero = precio.innerHTML.slice(1);

      precioEnNumero = parseFloat(precioEnNumero);

      precioEnNumero += envio;


      precioFinal.innerHTML = "Mas envio $"+precioEnNumero;
    }

    hideable_guadalajara.hide();
    hideable_estado.hide();
    medio.hide();
    

    from_guadalajara.addEventListener('change', (event) => {
      if(event.target.value == "S") {
        shipping_state.value = "Guadalajara"
        shipping_state.hide = true;
        hideable_guadalajara.show();
        hideable_estado.hide();
      } else {
        shipping_state.value = "";
        shipping_state.disabled = false;
        hideable_guadalajara.hide();
        sacarPrecio(130);
        hideable_estado.show();
      }
    })


    inside_guadalajara.addEventListener('change', (event) => {
      let value = event.target.value
      if (value === 'medio') {
        sacarPrecio(0);
        medio.show();
      } else {
        sacarPrecio(80);
        medio.hide();
      }
    })

    
    use_default_shipping.addEventListener('change', function() {
      if (this.checked) {
        hideable_shipping_form.hide();
      } else {
        hideable_shipping_form.show();
      }
    })
    

    </script>
  {% endblock %}
